<%= form_with(model: recipe, class: "form-group", 
                             data: { 
                              controller: 'smart-recipe-form', 
                              "smart-recipe-form-loading-messages-value" => I18n.t('recipes.loading_messages').values 
                              }) do |form| %>
  <div class="d-none" data-smart-recipe-form-messages-value="messages"></div>
  <% if recipe.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= t('helpers.errors.saving', model: Recipe.model_name.human) %></h2>
      <ul>
        <% recipe.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row d-flex justify-content-end">
    <div class="col-lg col-md-12">
      <h1 class="my-2 text-dark"><%= title %></h1>
    </div>
    <% if action_name == "new" %>
      <div class="col-lg-6 col-md-12">
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" 
           checked data-smart-recipe-form-target="AIToolsToggle" <%= 'disabled' unless policy(current_user).use_ai? %> >
          <label class="form-check-label" for="flexSwitchCheckDefault"><%= t('helpers.ai_tools.use_ai') %></label>
        </div>
        <small class="form-text text-muted">
          <% if policy(current_user).use_ai? %>
            <%= t('helpers.ai_tools.parser_explanation') %>
          <% else %>
            <%= t('helpers.ai_tools.limit_reached') %>
          <% end %>
        </small>
      </div>
    <% end %>
  </div>
  <div class="d-flex align-items-center recipe__main row">
    <div class="col-lg-8 col-12">
      <div class="form-group mb-4">
        <%= form.label :title, class: "form-label required" %>
        <%= form.text_field :title, class: "form-control", placeholder: t('activerecord.placeholders.recipes.title') %>
      </div>
      <div class="form-group mb-4">
        <%= form.label :description, class: "form-label required" %>
        <%= form.text_area :description, class: "form-control", placeholder: t('activerecord.placeholders.recipes.description') %>
      </div>
    </div>
    <div class="col d-flex justify-content-center mb-4 mb-lg-0">
      <%= render 'recipes/form/recipe_image', form: form %>
    </div>
  </div>
  <% if action_name == "new" && policy(current_user).use_ai? %>
    <div class="form-group mb-4" data-smart-recipe-form-target="AIInputGroup">
      <%= form.label :ingredients_and_instructions, class: "form-label" %>
      <%= form.text_area :ingredients_and_instructions, class: "form-control", placeholder: t('activerecord.placeholders.recipes.ingredients_and_instructions'), 
                       rows: 10, data: { "smart-recipe-form-target" => "AIToolsInput" } %>
    </div>
  <% end %>
  <div data-smart-recipe-form-target="nonAIFormInputs" class="<%= action_name == "edit" || !(policy(current_user).use_ai?)  ? '' : 'd-none' %>">
    <%= render 'recipes/form/recipe_extra_details', form: form %>
    <%= render 'recipes/form/recipe_ingredients', form: form, available_ingredients:, measurement_units: %>
    <%= render 'recipes/form/recipe_steps', form: form, available_ingredients:, measurement_units: %>
  </div>
  <div class="form-group mb-3 d-flex justify-content-center">
    <%= form.submit t(action_name == "edit" ? 'helpers.submit.update' : 'helpers.submit.create', model: Recipe.model_name.human), class: "btn btn-primary btn-lg" %>
  </div>
<% end %>
