<%= form_with(model: recipe, class: "form-group", 
                             data: { 
                              controller: 'smart-recipe-form', 
                              "smart-recipe-form-loading-messages-value" => I18n.t('recipes.loading_messages').values 
                              }) do |form| %>
  <div class="d-none" data-smart-recipe-form-messages-value="messages"></div>
  <% if recipe.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= t('helpers.errors.saving', model: Recipe.model_name.human) %></h2>
      <ul>
        <% recipe.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" 
           checked data-smart-recipe-form-target="AIToolsToggle">
    <label class="form-check-label" for="flexSwitchCheckDefault"><%= t('helpers.ai_tools.use_ai') %></label>
  </div>
  <div class="form-group">
    <%= form.label :title, class: "form-label" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :description, class: "form-label" %>
    <%= form.text_area :description, class: "form-control" %>
  </div>
  <div class="form-group" data-smart-recipe-form-target="AIInputGroup">
    <%= form.label :ingredients_and_instructions, class: "form-label" %>
    <%= form.text_area :ingredients_and_instructions, class: "form-control", 
                       data: { "smart-recipe-form-target" => "AIToolsInput" } %>
  </div>
  <div data-smart-recipe-form-target="nonAIFormInputs" class="d-none">
    <%= render 'recipes/form/recipe_ingredients', form: form %>
  </div>
  <div class="form-group">
    <%= form.submit t('helpers.submit.create', model: Recipe.model_name.human), class: "btn btn-primary" %>
  </div>
<% end %>
