<div class="mx-lg-0 mx-n4 p-4 shadow-lg bg-primary text-dark rounded-start recipe__ingredients__panel" data-controller="ingredients-panel sticky"
     data-sticky-should-collapse-value="true">
  <div class="d-none recipe__ingredients__scroll_cta p-3 mw-33 text-center text-body-tertiary">
    <em><%= t('helpers.scroll_down_for_more') %></em> <br>
    <i class="bi bi-arrow-bar-down"></i>
  </div>
  <h2 class="mb-lg-5 ingredient_list__title"><%= Ingredient.model_name.human(count: 2) %></h2>
  <ol class="ingredient_list__list">
    <% @recipe.recipe_ingredients.each do |r_ingredient| %>
      <li class="my-3">
        <%= r_ingredient.ingredient.name %>
        <% if r_ingredient.quantity %>
          <span class="badge text-dark bg-primary-subtle border border-secondary ms-1">
            <%= "%g" % ("%.2f" % r_ingredient.quantity) %> <%= r_ingredient.measurement_unit&.abbreviation %>
          </span>
        <% end %>
      </li>
    <% end %>
  </ol>
</div>
