<div id="recipes" class="container">
  <h1 class="text-dark my-5 text-capitalize"><%= "#{t('numerators.all')} #{Recipe.model_name.human(count: 2)}" %></h1>
  <div class="row">
    <% @recipes.each do |recipe| %>
      <div class="col-md-4">
        <%= link_to recipe_path(recipe) do %>
          <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title"><%= recipe.title %></h5>
              <p class="card-text"><%= truncate(recipe.description, length: 90) %></p>
            </div>
            <div class="card-footer text-body-secondary">
              <%= render 'recipe_extra_details', recipe: %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-md-4 col-sm-6 d-flex justify-content-center">
      <%= link_to "Submit a new recipe", new_recipe_path, class: "btn btn-secondary text-light d-inline-block" %>
    </div>
  </div>
</div>
