<div id="recipes" class="container">
  <div class="w-100 d-flex justify-content-between align-items-center">
    <h1 class="text-dark my-5 text-capitalize"><%= "#{t('numerators.all')} #{Recipe.model_name.human(count: 2)}" %></h1>
    <%= link_to "Submit a new recipe", new_recipe_path, class: "btn btn-secondary text-light px-3" %>
  </div>
  <%= turbo_frame_tag "recipes_list", class: "row", src: recipes_url(format: :turbo_stream, page: params[:page]), loading: "lazy" do %>
    <div class="row" id="recipes_placeholder">
      <% 12.times do %>
        <%= render "recipe_placeholder" %>
      <% end %>
    </div>
  <% end %>
  <%= turbo_frame_tag "recipes_pagination" %>
</div>
