<div class="d-flex flex-row recipe__main p-5">
  <div class="recipe_details flex-grow-1">
    <h1 class="my-5"><%= @recipe.title %></h1>
    <div class="accordion accordion-preview w-50 mb-5" id="recipeDescriptionAccordion">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button bg-info-subtle" type="button" data-bs-toggle="collapse" data-bs-target="#recipeDescription" aria-expanded="true" aria-controls="recipeDescription">
            <%= t("recipes.about") %>
          </button>
        </h2>
        <div id="recipeDescription" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#recipeDescriptionAccordion">
          <div class="accordion-body">
            <%= @recipe.description %>
          </div>
        </div>
      </div>
    </div>
    <div>
      <h3 class="mb-3"><%= RecipeStep.model_name.human(count: 2) %></h3>
      <% @recipe.recipe_steps.each do |recipe_step| %>
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
              <div class="fw-bold">
                <h5 class="badge bg-secondary"><%= recipe_step.step_number %></h5>
                <%= recipe_step.instruction %>
              </div>
              <%= recipe_step.description %>
              <div class="mt-2">
                <% recipe_step.recipe_step_ingredients.each do |rs_ingredient| %>
                  <span class="badge rounded-pill text-bg-primary">
                    <%= rs_ingredient.ingredient.name %>
                    <% if rs_ingredient.quantity %>
                      (
                      <%= "%g" % ("%.2f" % rs_ingredient.quantity) %>
                      <%= rs_ingredient.measurement_unit&.abbreviation %>
                      )
                    <% end %>
                  </span>
                <% end %>
              </div>
            </div>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
</div>
</div>
<div class="p-4 shadow-lg bg-primary text-light rounded-start recipe__ingredients_panel">
  <h2 class="mb-5"><%= Ingredient.model_name.human(count: 2) %></h2>
  <% @recipe.recipe_ingredients.each do |r_ingredient| %>
    <ul>
      <li>
        <%= r_ingredient.ingredient.name %>
        <% if r_ingredient.quantity %>
          (
          <%= "%g" % ("%.2f" % r_ingredient.quantity) %>
          <%= r_ingredient.measurement_unit&.abbreviation %>
          )
        <% end %>
      </li>
    </ul>
  <% end %>
</div>
