<div class="container-fluid bg-primary vh-100 d-flex align-items-center">
  <div class="row justify-content-center w-100">
    <div class="col-lg-4 col-md-8 col-sm-10 card bg-primary-subtle d-flex align-items-center">
      <div class="card-body w-75">
        <div class="row text-center">
          <div class="mb-4 devise__title-container text-center">
            <h3 class="devise__title  mt-4">Change your password</h3>
          </div>
        </div>
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, data: { turbo: false } }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <%= f.hidden_field :reset_password_token %>
          <div class="field mb-3">
            <%= f.label :password, t('devise.passwords.new_password') %>
            <%= f.password_field :password, autocomplete: "new-password", class: "form-control", "aria-describedby":"password-help" %>
            <% if @minimum_password_length %>
              <div id="password-help" class="form-text"><%= t('devise.registrations.min_password_length', count: @minimum_password_length) %>
              </div>
            <% end %>
          </div>
          <div class="field mb-3">
            <%= f.label :password_confirmation, t('devise.passwords.new_password_confirmation') %>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control"%>
          </div>
          <div class="actions text-center d-flex flex-column mt-4">
            <%= f.submit t('devise.passwords.update_cta'), class: "btn btn-secondary text-light mb-3" %>
          </div>
        <% end %>
        <div class="actions text-center d-flex flex-column">
          <%= render "users/shared/links" %>
        </div>
        <div class="my-5"></div>
        <div class="my-5"></div>
        <div class="my-5"></div>
        <div class="my-5"></div>
      </div>
    </div>
    <div class="my-5"></div>
    <div class="my-5"></div>
    <div class="my-5"></div>
    <div class="my-5"></div>
  </div>
</div>
