<p><%= I18n.t('devise.passwords.email.hello', email: @resource.email) %></p>
<p><%= I18n.t('devise.passwords.email.line1') %></p>
<p><%= link_to I18n.t('devise.passwords.email.link_cta'), edit_password_url(@resource, reset_password_token: @token) %></p>
<p><%= I18n.t('devise.passwords.email.line2') %></p>
<p><%= I18n.t('devise.passwords.email.line3') %></p>
