<div class="p-4 shadow-lg bg-primary text-dark rounded-start recipe__ingredients_panel" data-controller="ingredients-panel">
  <div class="recipe_ingredients__wrapper" data-controller="nested-associations" data-nested-associations-wrapper-selector-value=".nested-recipe-ingredient-wrapper">
    <div class="d-flex my-3 justify-content-between">
      <h2 class="mb-0 me-3 ingredient_list__title"><%= Ingredient.model_name.human(count: 2) %></h2>
      <button class="btn btn-outline-secondary rounded"
              data-action="click->nested-associations#add" title="<%= t('forms.add_new') %>">
        <i class="bi bi-plus-lg"></i>
      </button>
    </div>
    <template data-nested-associations-target="template">
      <%= form.fields_for :recipe_ingredients, RecipeIngredient.new, child_index: "NEW_RECORD" do |recipe_ingredient| %>
        <%= render 'recipes/form/recipe_ingredient', recipe_ingredient:, available_ingredients:, measurement_units: %>
      <% end %>
    </template>
    <%= turbo_frame_tag "recipe_ingredients", data: {"nested-associations-target": "container"} do %>
      <%= form.fields_for :recipe_ingredients do |recipe_ingredient| %>
        <%= render 'recipes/form/recipe_ingredient', recipe_ingredient:, available_ingredients:, measurement_units: %>
      <% end %>
    <% end %>
  </div>
</div>
