<div class="recipe__steps_panel" data-controller="nested-associations" 
     data-nested-associations-wrapper-selector-value=".nested-recipe-step-wrapper">
  <template data-nested-associations-target="template">
    <%= form.fields_for :recipe_steps, RecipeStep.new, child_index: "NEW_RECORD" do |recipe_step| %>
      <%= render 'recipes/form/recipe_step', recipe_step: %>
    <% end %>
  </template>
  <div class="d-flex my-3">
    <h3 class="mx-4 mb-0 text-secondary"><%= RecipeStep.model_name.human(count: 2) %></h3>
    <button class="btn btn-outline-secondary rounded"
              data-action="click->nested-associations#add" title="<%= t('forms.add_new') %>">
      <i class="bi bi-plus-lg"></i>
    </button>
  </div>
  <ul class="list-group mb-4" data-nested-associations-target="container" data-controller="sortable">
    <%= form.fields_for :recipe_steps do |recipe_step| %>
      <%= render 'recipes/form/recipe_step', recipe_step: %>
    <% end %>
  </ul>
</div>
