<li class="list-group-item d-flex justify-content-between align-items-start nested-recipe-step-wrapper position-relative"
    data-new-record="<%= recipe_step.object.new_record? %>">
  <a class="text-secondary rounded fs-3 recipe__steps_panel__remove_button" 
     data-action="click->nested-associations#remove" title="<%= t('forms.delete') %>">
    <i class="bi bi-x-circle"></i>
  </a>
  <div class="ms-2 w-100">
    <div class="mb-3">
      <div class="row">
        <div class="col-md-3">
          <%= recipe_step.label :step_number, class: "form-label" %>
          <%= recipe_step.number_field :step_number, class: "form-control",
                    placeholder: t('activerecord.placeholders.recipe_steps.step_number') %>
        </div>
        <div class="col-md-9">
          <%= recipe_step.label :instruction, class: "form-label" %>
          <%= recipe_step.text_field :instruction, class: "form-control",
                    placeholder: t('activerecord.placeholders.recipe_steps.instruction') %>
          <small class="form-text text-muted"><%= t('activerecord.helper_texts.recipe_steps.instruction') %></small>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <%= recipe_step.label :description, class: "form-label" %>
          <%= recipe_step.text_area :description, class: "form-control", rows: 2,
                    placeholder: t('activerecord.placeholders.recipe_steps.description') %>
        </div>
      </div>
    </div>
    <%= recipe_step.hidden_field :_destroy %>
  </div>
</li>
